flask==3.0.0
flask-compress==1.14
python-dotenv==1.0.0
pandas==2.1.4
numpy==1.26.2
requests==2.31.0
Werkzeug==3.0.1
yfinance==0.2.38
beautifulsoup4==4.12.3
typing-extensions==4.9.0
gunicorn==21.2.0
firebase-admin==6.4.0
fyers-apiv3
lxml
curl_cffi==0.7.4
